<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.server.mapper.ProcessListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.server.pojo.ProcessList">
        <id column="process_id" property="processId"/>
        <result column="apply_time" property="applyTime"/>
        <result column="deeply_id" property="deeplyId"/>
        <result column="end_time" property="endTime"/>
        <result column="process_user_id" property="processUserId"/>
        <result column="process_des" property="processDes"/>
        <result column="process_name" property="processName"/>
        <result column="process_days" property="processDays"/>
        <result column="is_checked" property="isChecked"/>
        <result column="start_time" property="startTime"/>
        <result column="status_id" property="statusId"/>
        <result column="type_name" property="typeName"/>
        <result column="shenuser" property="shenUser"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        process_id
        , apply_time, deeply_id, end_time, process_user_id, process_des, process_name, procsee_days, is_checked, start_time, status_id, type_name, shenuser
    </sql>

    <insert id="saveForHoliday" parameterType="com.xxxx.server.pojo.ProcessList" useGeneratedKeys="true"
            keyProperty="processId">
        insert
        into t_process_list (apply_time,
                             deeply_id,
                             end_time,
                             process_user_id,
                             process_des,
                             type_name,
                             process_name,
                             process_days,
                             is_checked,
                             start_time,
                             status_id,
                             shenuser)
        values (now(), #{entity.deeplyId}, #{entity.endTime}, #{entity.processUserId}, #{entity.processDes},
                #{entity.typeName},
                #{entity.processName}, #{entity.processDays}, 0, #{entity.startTime}, 23, #{entity.shenUser})
    </insert>

    <insert id="saveForReimburse" parameterType="com.xxxx.server.pojo.ProcessList" useGeneratedKeys="true"
            keyProperty="processId">
        insert
        into t_process_list (apply_time,
                             deeply_id,
                             process_user_id,
                             process_des,
                             type_name,
                             process_name,
                             status_id,
                             shenuser,
                             is_checked)
        values ( now(), #{entity.deeplyId}, #{entity.processUserId}, #{entity.processDes}
               , #{entity.typeName}, #{entity.processName}, 23, #{entity.shenUser}, 0)
    </insert>

    <insert id="saveForResign" parameterType="com.xxxx.server.pojo.ProcessList" useGeneratedKeys="true"
            keyProperty="processId">
        insert
        into t_process_list(apply_time,
                            deeply_id,
                            process_user_id,
                            process_des,
                            is_checked,
                            type_name,
                            status_id,
                            process_name,
                            shenuser)
        values (now(), #{entity.deeplyId}, #{entity.processUserId}, #{entity.processDes}, 0, #{entity.typeName},
                23, #{entity.processName}, #{entity.shenUser})
    </insert>

    <update id="auditUpdate">
        update t_process_list
        set status_id = #{status}
        where process_id = #{processId}
    </update>

    <update id="updateShenUserByPerson">
        update t_process_list
        set shenuser = concat(shenuser, ';', '赵六')
        where process_id = #{processId}
    </update>

    <update id="updateShenUserByFinance">
        update t_process_list
        set shenuser = concat(shenuser, ';', '张三')
        where process_id = #{processId}
    </update>

    <update id="deleteProcess">
        update t_reviewed tr
        set tr.del = 1
        where tr.pro_id = #{processId}
          and tr.user_id = #{userId}
    </update>

    <update id="deleteMyProcess">
        update t_process_list tpl
        set tpl.del = 1
        where tpl.process_id = #{processId}
    </update>

    <select id="getAuditList" resultType="com.xxxx.server.pojo.ProcessList">
        select tpl.process_id      as processId,
               tpl.type_name       as typeName,
               tpl.process_name    as processName,
               tpl.process_des     as processDes,
               tpl.process_user_id as processUserId,
               tpl.process_days    as processDays,
               tpl.apply_time      as applyTime,
               tpl.deeply_id       as deeplyId,
               tpl.end_time        as endTime,
               tpl.start_time      as startTime,
               tpl.shenuser        as shenUser,
               tr.status_id        as statusId,
               tsl.status_name     as state,
               ttl.type_name       as harry,
               tpl.is_checked      as isChecked,
               ta.name             as name
        from t_reviewed tr,
             t_process_list tpl,
             t_admin ta,
             t_type_list ttl,
             t_status_list tsl
        where tpl.process_id = tr.pro_id
          and tpl.process_user_id = ta.id
          and tpl.deeply_id = ttl.type_id
          and tr.status_id = tsl.status_id
          and tr.del = 0
          and tpl.del = 0
          and tr.user_id = #{userId}
        group by tr.status_id, tpl.process_id
        order by statusId, deeplyId desc, applyTime desc
    </select>

    <select id="selectProcessById" resultType="com.xxxx.server.pojo.ProcessList">
        select tpl.process_id      as processId,
               tpl.apply_time      as applyTime,
               tpl.deeply_id       as deeplyId,
               tpl.end_time        as endTime,
               tpl.process_user_id as processUserId,
               tpl.process_des     as processDes,
               tpl.process_name    as processName,
               tpl.is_checked      as isChecked,
               tpl.process_days    as processDays,
               tpl.start_time      as startTime,
               tpl.status_id       as statusId,
               tpl.type_name       as typeName,
               tpl.shenuser        as shenUser,
               ta.name
        from t_process_list tpl,
             t_admin ta
        where tpl.process_user_id = ta.id
          and tpl.del = 0
          and tpl.process_id = #{processId}
    </select>

    <select id="selectMyProcessList" resultType="com.xxxx.server.pojo.ProcessList">
        select tpl.process_id      as processId,
               tpl.apply_time      as applyTime,
               tpl.deeply_id       as deeplyId,
               tpl.end_time        as endTime,
               tpl.process_user_id as processUserId,
               tpl.process_des     as processDes,
               tpl.process_name    as processName,
               tpl.is_checked      as isChecked,
               tpl.process_days    as processDays,
               tpl.start_time      as startTime,
               tpl.status_id       as statusId,
               tpl.type_name       as typeName,
               tpl.shenuser        as shenUser,
               tsl.status_name     as state,
               ttl.type_name       as harry,
               ta.name
        from t_process_list tpl,
             t_status_list tsl,
             t_type_list ttl,
             t_admin ta
        where tpl.process_user_id = ta.id
          and tpl.deeply_id = ttl.type_id
          and tpl.status_id = tsl.status_id
          and tpl.process_user_id = #{id}
          and tpl.del = 0
        group by tpl.status_id,
                 tpl.process_id
        order by tpl.status_id, deeplyId desc, applyTime desc
    </select>

    <select id="findAllUser" resultType="com.xxxx.server.pojo.Admin">
        select id, name, username, remark, parentId, posId
        from t_admin
        where enabled = 1
    </select>


</mapper>
