<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.server.mapper.ResignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.server.pojo.Resign">
        <id column="resign_id" property="resignId"/>
        <result column="financial_advice" property="financialAdvice"/>
        <result column="is_finish" property="isFinish"/>
        <result column="nofinish" property="nofinish"/>
        <result column="personnel_advice" property="personnelAdvice"/>
        <result column="suggest" property="suggest"/>
        <result column="hand_user" property="handUser"/>
        <result column="pro_id" property="proId"/>
        <result column="manager_advice" property="managerAdvice"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        resign_id
        , financial_advice, is_finish, nofinish, personnel_advice, suggest, hand_user, pro_id, manager_advice
    </sql>

    <insert id="save" useGeneratedKeys="true">
        insert
        into t_resign (is_finish,
                       nofinish,
                       suggest,
                       hand_user,
                       pro_id)
        values (#{entity.isFinish}, #{entity.nofinish}, #{entity.suggest}, #{entity.handUser}, #{entity.proId})

    </insert>

    <update id="auditUpdate">
        update t_resign
        set manager_advice = #{auditDes}
        where pro_id = #{processId}
    </update>
    <update id="auditUpdateSecond">
        update t_resign
        set personnel_advice = #{auditDes}
        where pro_id = #{processId}
    </update>
    <select id="getResignDetail" resultType="com.xxxx.server.pojo.Resign">
        select resign_id as resignId,
               financial_advice as financialAdvice ,
               is_finish as isFinish,
               nofinish,
               personnel_advice as personnelAdvice,
               suggest,
               hand_user as handUser,
               pro_id as proId,
               manager_advice as managerAdvice,
               t_admin.name
        from t_resign,t_admin
        where pro_id = #{processId} and t_resign.hand_user = t_admin.id
    </select>

</mapper>
