<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.server.mapper.ReviewedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.server.pojo.Reviewed">
        <id column="reviewed_id" property="reviewedId"/>
        <result column="advice" property="advice"/>
        <result column="reviewed_time" property="reviewedTime"/>
        <result column="status_id" property="statusId"/>
        <result column="pro_id" property="proId"/>
        <result column="user_id" property="userId"/>
        <result column="del" property="del"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        reviewed_id
        , advice, reviewed_time, status_id, pro_id, user_id, del
    </sql>

    <insert id="saveForHoliday" parameterType="com.xxxx.server.pojo.Reviewed">
        insert
        into t_reviewed(user_id,
                        status_id,
                        pro_id)
        values (#{shenID}, 23, #{entity.processId})
    </insert>

    <insert id="insertRecord">
        insert
        into t_reviewed (advice,
                         reviewed_time,
                         status_id,
                         pro_id,
                         user_id)
        values (#{entity.advice}, #{entity.reviewedTime}, #{entity.statusId}, #{entity.proId}, #{entity.userId})
    </insert>

    <insert id="saveForReimburse">
        insert
        into t_reviewed(user_id,
                        status_id,
                        pro_id)
        values (#{auditUserId}, 23, #{entity.proId})
    </insert>

    <insert id="saveForResign">
        insert
        into t_reviewed(user_id,
                        status_id,
                        pro_id)
        values (#{id}, 23, #{entity.proId})
    </insert>

    <update id="auditUpdate">
        update
            t_reviewed
        set advice        = #{auditDes},
            reviewed_time = now(),
            status_id     = #{status}
        where pro_id = #{processId}
          and user_id = #{userId}
    </update>

    <select id="selectRecordById" resultType="com.xxxx.server.pojo.Reviewed">
        select tr.reviewed_id   as reviewedId,
               tr.advice        as advice,
               tr.reviewed_time as reviewedTime,
               tr.status_id     as statusId,
               tr.pro_id        as proId,
               tr.user_id       as userId,
               tr.del           as del
        from t_reviewed tr
        where tr.user_id = #{userId}
          and tr.pro_id = #{processId}
    </select>

    <select id="selectRecordByProcessId" resultType="com.xxxx.server.pojo.Reviewed">
        select tr.reviewed_id   as reviewedId,
               tr.advice,
               tr.reviewed_time as reviewedTime,
               tr.status_id     as statusId,
               tr.pro_id        as proId,
               tr.user_id       as userId,
               ta.name
        from t_reviewed tr,
             t_admin ta
        where tr.user_id = ta.id
          and pro_id = #{processId}
    </select>

</mapper>
