<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.server.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.server.pojo.Role">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="nameZh" property="nameZh" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, nameZh
    </sql>

    <!-- 根据用户id查询角色列表 -->
    <select id="getRoles" resultType="com.xxxx.server.pojo.Role">
        select
            r.id,
            r.name ,
            r.nameZh
        from
            t_role r
                left join t_admin_role ar on
                r.id = ar.rid
        where
            ar.adminId = #{adminId}
    </select>
    <select id="getRoleByposId" resultType="com.xxxx.server.pojo.Role">
        select tr.* from t_role tr left join t_position tp on tr.id  = tp.roleId where tp.id = #{id}
    </select>

</mapper>
