<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.server.mapper.StatusListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xxxx.server.pojo.StatusList">
        <id column="status_id" property="statusId" />
        <result column="status_color" property="statusColor" />
        <result column="status_model" property="statusModel" />
        <result column="status_name" property="statusName" />
        <result column="sort_value" property="sortValue" />
        <result column="sort_precent" property="sortPrecent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        status_id, status_color, status_model, status_name, sort_value, sort_precent
    </sql>

</mapper>
